<!DOCTYPE html>
<html>
<head>
<title> Home Page </title>
<link rel="stylesheet" href="css/styles.css">
</head>
    <body id="home">
      
       <h1>Hubspot Mini App</h1>
       <br>
       <h1><%=userdata.user_id%></h1>
       <h1>Portal Id - <%=userdata.portal_id%></h1>
       <h2><a href="/contacts">Contacts</a></h2>
       <br>
       <button class="button-33" role="button"> <a href="/logout"> 
        Log Out</a></button>


</body>
</html>