<!DOCTYPE html>
<html>
<head>
<title> Home Page </title>
<link rel="stylesheet" href="css/styles.css">
</head>
    <body id="home">
      
       <h1>Hubspot Mini App</h1>
       <br>
       <button class="button-33" role="button"><a href="/install">Install the app</a></button>




</body>
</html>