<!DOCTYPE html>
<html>
<head>
<title> Home Page </title>
<link rel="stylesheet" href="css/styles.css">
</head>
    <body id="home">
      
       <h1>Hubspot Mini App</h1>
       <br>
       <h2>You've been logged out</h2>
       <br>
       <button class="button-33" role="button" > <a href="/vipul/install">Install</a></button>


</body>
</html>
